supabase
gotrue
postgrest
realtime
storage3
supafunc
httpx
httpcore
h11
sniffio
anyio
idna
certifi
urllib3
charset_normalizer
pydantic
typing_extensions
deprecation
packaging
six
yarl
multidict
attrs
frozenlist
aiosignal
aiohttp
propcache
websockets
